html, body{
    width: 100%;
    height: 100%;
    position: relative;
}

div{
    transition-delay: 200ms;
    transition-property: 'background-color';
}


*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 40px;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}

.header{
    background-color: white;
    width: 100%;
    box-shadow: 0px 1px 5px rgb(82, 82, 82);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
    font-weight: 900;
}

.header>*{
    margin: 0px 30px;
}

.header>:nth-child(2)>button{
    font-size: 20px;
    font-weight: 500;
}


.body{
    background-color: rgb(238, 240, 240);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    bottom: 0;
    width: 100%;
    background-color: rgb(238, 240, 240);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}


.footer>span>a{
    height: fit-content;
    text-decoration: none;
}

svg:hover{
    transform: rotate(360deg);
    transition: 1s;
}

button{
    border-style: none;
    border-radius: 5px;
    background-color: rgb(238, 240, 240);
    height: max-content;
    width: max-content;
    font-size: 30px;
    font-weight: 900;
    margin: 15px;
    padding: 12px 16px;
}

button:hover{
    background-color: rgb(201, 204, 204);
}

.modal{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position:  absolute;
    width: 280px;
    height: 350px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 10px;
    padding: 15px;
    background-color: rgb(221, 221, 221);
}


form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

form>div{
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-content: center;
    align-items: center;
}

label{
font-size: 20px;
}

input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    font-size: large;
}

input[type='checkbox']{
    height: 20px;
}

input[type='submit']{
    background-color: lightgreen;
}

input[type='submit']:hover{
    background-color: rgb(87, 208, 87);
}
.book{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 280px;
    background-color: #fff;
    border-left: 30px solid rgb(0, 180, 0);
}

.book>.left{
    font-weight: 600;
    font-size: large;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.book>.right{
    font-weight: 600;
    font-size: large;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.read{
    grid-column: 1/3;
    grid-row: 2/3;
}

.read>button{
    background-color: rgb(0, 180, 0);
    width: 150px;
    font-size: large;
}

.not-read{
    grid-column: 1/3;
    grid-row: 2/3;
}

.not-read>button{
    background-color: rgb(233, 0, 0);
    width: 150px;
    font-size: large;
}

.remove{
    grid-column: 1/3;
}

.remove>button{
    font-size: large;
    width: 150px;
}

.read>button:hover{
    background-color: rgb(42, 149, 0);
}

.not-read>button:hover{
    background-color: rgb(149, 0, 0);
}

.books{
    margin: 20px;
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}